/Calculators2/nbproject/private/
/JavaApplication13/nbproject/private/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/510kConverter/nbproject/private/
/510kConverter/build/
/510kConverter/dist/
/VoiceLines/nbproject/private/
/VoiceLine/nbproject/private/
/VoiceLine/build/
/VoiceLine/dist/
/JavaApplication18/nbproject/private/
/JavaApplication18/build/